# Django
SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_NAME=tu_bd
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# SendGrid
SENDGRID_API_KEY=SG.tu-key-aqui
DEFAULT_FROM_EMAIL=tu-email@ejemplo.com

# API POS
VENTAS_API_URL=http://tu-ip:7002/ventas
VENTAS_SUCURSAL_DEFAULT=SUC019
VENTAS_TIENDA_DEFAULT=1

# URL del sitio
SITE_URL=http://localhost:8000
